<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="https://veloren.net/icons/favicon/icon-192.png">
    <title>Veloren Heimdall</title>
    <link rel="stylesheet" href="/static/style.css">
</head>