<div id="message-box">
    <div id="message-boxheader" class="message-box-header">
        <b id="chat-label">Chat</b>
        <button id="goto-bottom">go to bottom</button>
        <button id="toggle-time">toggle time</button>
    </div>

    <div id="messages" class="message-box">
        <template id="message">
        <div class="message">
            <span class="time"></span>
            <span class="name"></span>
            <span class="text"></span>
        </div>
        </template>
    </div>
</div>
<script src="/static/live_chat.js"></script>